@import url('https://fonts.googleapis.com/css?family=Mukta:400,700');

* {
    margin: 0;
    padding: 0;
    font-family: Mukta, sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
/*    display: grid;*/
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
}

.top h2 {
    text-align: center;
}

.top nav {
    align-self: center;
}

.top ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.top li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.top li a:hover {
    text-decoration: underline;
    text-decoration-color: #000;
    color: #c3c3c3;
}

.landing {
    display: grid;
    height: 200px;
    margin: 20px 0;
    background-image: linear-gradient(to bottom right, #BFE022, #224B04);
    border-radius: 15px;
}

#textL{
/*    width: 35%;*/
    align-self: center;
    text-align: center;
    font-size: 1.7rem;
    padding: 15px;
}

#textL span{
    font-size: 1.5rem;
}

.middle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2%;
}

#services ul{
    list-style: none;
}

#servB{
    color: #fff;
    background-image: linear-gradient(to bottom right, #BFE022, #224B04);
    padding: 5px;
    text-decoration: none;
    border-radius: 15px;
}

#servB:hover{
    background-image: linear-gradient(to top left, #BFE022, #224B04);
    color: #c3c3c3;
}

#about{
    padding-left: 5%;
    grid-column-start: 2;
    grid-column-end: 4;
}

#about p{
    font-size: 1.2rem;
}

#contact{
    padding: 30px 0;
    text-align: center;
    background-color: #e2e2e2;
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 1.2rem;
    color: #fff;
    background-color: #444;
}